@font-face {
    font-family: IRANSansWeb;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff/IRANSansWeb.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');


body{
    font-family: IRANSansWeb;
}

.home-card{
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 200px;
}
.home-card h1{
  font-size:1.2rem;
  font-weight: bold;
}
.home-card p{
  font-size:0.9rem;
}

/*********************************************Create course-page***********************************************/
.CreateCourse-main-card{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top:70px;
}
.page-path{
    list-style: none;
    direction: rtl;
    margin-bottom: 0px;
}
.first-page,.breadcrumb-item::before{
    color: #f1f1f1 !important;
    font-size: 12px;

}
.page-path li{
    color: #f1f1f1 !important;
}

/*upload image*/
  .upload-course-pic{
        width: 7rem;
    }
  .video{
    height: 100%;
    background: #ececec;
    position: relative;
    opacity: 0.7;
    border:0.5px dashed;
    border-radius: 5px;
  }
  
  .video input{
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide the button */
    cursor: pointer;
  }
  .avatar {
    width: 7.5em;
    height: 4em;
    background: #c1c1c1;
    position: relative;
    opacity: 0.7;
    border:0.5px solid;
    border-radius: 5px;
  }
  .avatar input {
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide the button */
    cursor: pointer;
  }
  .avatar-icon {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    margin-top: 20px;
    opacity: 1;

  }
  #course-name{
      font-size: 1rem;
      font-weight: bold;
  }
  .h1-size {
    font-size: 1rem;
    font-weight: bold;
  }
  .help{
    font-size: 0.7em;
    color: #f34141;
  }
  #course-description ,#course-category{
    font-size: 0.9rem;
  }
  .margin-style{
    font-size: 0.8rem;
    font-weight: bold;
  }
  .vertical-menu li {
    list-style: none;
    border: none;
    border-radius: 10px;

  }
  .vertical-menu li:hover{
    background-color: #007bff;
  }
  .vertical-menu img{
    width: 40px;
    height: 40px;
  }
 
  .vertical-menu a{
    color: #000000;
  }
  .vertical-menu a:hover{
    text-decoration: none;
  }

  /*            Start Style Page Course                           */



  .btn-group{
    padding: 10px;
  }
.viewCourseCatalog{
  float: left;
}
.viewCourseCatalog a{
  display: inline-block;
  padding-right: 10px;
  line-height: 40px;
  margin: 20px 10px;

  /* text-decoration: none; */
}

table{
  width: 100%;
  height: 45px;
  line-height: 40px;
  color: #fff;
  float: inline-end;
}
table th{
  background: #007bff ;
  text-align: center;
  width: 190px;
}


th input[type=checkbox]{ 
  text-align: right;
/* opacity: 0; */
/* vertical-align: text-top; */
}
input[type=checkbox]{
  margin: 5px 10px;
  /* display: none; */
  /* opacity: 0; */
}


table tr td{
  text-align: center;
  color: black;
}

.noshow{
  display: none;  
  opacity: 0;
  text-align: center;
  margin:0 10px;
  border-radius: 50px;
  /* background: #c1c1c1; */
  color: black;
} 
tr:hover .noshow, tr:hover input[type=checkbox] {
  display: inline-block;
  opacity: 1;

}
tr:hover .fa-ellipsis-h{
  display: none;
  /* text-align: center; */
}
.w-300px{
  width: 300px;
}
.w-150px{
  width: 150px;
}
.w-140px{
  width: 140px;
}
.w-130px{
  width: 130px;
}
.w-120px{
  width: 120px;
}
.w-90px{
  width: 90px;
}
.w-25px{
  width: 25px;
}
.w-10px{
  width: 10px;
}
.w-1px{
  width: 1px;
}
tr:nth-child(even){background: #e9e8e8;}

.formRight{
  width: 50%;
  height: auto;
  /* background: red; */
  float: right;
  
}
.formLeft{
  width: 50%;
  height: auto;
  /* background: blue; */
  float: left;
}
i{
  color: #e9e8e8;
}
div#courses-grid_info{
  background: rgba(99,109,116,0.5);
    border-radius: 100px;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 2px rgba(0,0,0,0.25);
    color: #fff;
    width: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    min-width: 40px;
    padding: 4px 10px 3px;
    position: absolute;
    right: 0;
    margin: 20px 10px;
  }


  div#courses-grid_infoLeft input{
    width: 50%;
    float: left;
    border-radius: 4px;
    padding: 20px 10px;
    margin: 10px;
    direction: rtl;
  }
  div#courses-grid_infoLeft i{
    width: 50%;
    float: left;
    text-align: left;
  }
.ico{
  float: left;
  padding: 20px;
  /* margin: 5px; */
}
.ico > a{
text-decoration: none;
  margin: 5px;
  font-size: 16px;
}



  /*            End Style Page Course                           */



/*                Start Pages Userinfo => tab : دوره آموزشی          */

.tab-pane a{
  color: #000000;
}

.courses table tr:hover {
    background-color: rgba(49, 124, 255, 0.1);
}

/*                 End Pages Userinfo => tab : دوره آموزشی          */


/*                Start Pages Userinfo => tab : نشانها          */

.badge-div, .learning-div, .pattern-div{
  width: 12%;
  display: inline-block;
  text-align: center;
  margin: 25px 0;
}
.badge-div, .learning-div, .pattern-div div{
  padding: 25px 0 0;
}

/*                End Pages Userinfo => tab : نشانها          */


  /*               Start Pages Userinfo           */


  .UserInfo{
    width: 100%;
    height: auto;
    margin: 30px 0 ;
  }
  .tab-content>.active {
    display: block;
    padding: 10px;
}

.idUser{
  display: inline-block;
  float: right;
  margin: 10px;

}
.messages{
  margin: 10px 0;
  padding: 10px;
}
.messages .badge{
  margin-right: 10px;
  padding: 7px;
}
.userRight{
  width: 50%;
  float: right;
}
.userLeft {
  width: 50%;
  float: left;
}

.userLeft .btn{
  float: left;
  margin: 0 10px;
}

.user-report{
  width: 100%;
  height: auto;
  margin: 10px;
}

.user-report{
  width: 96%; 
  height:auto;
  background: rgb(239, 249, 255);
  border: 2px solid rgb(224, 243, 255);
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  justify-items: center;
  
}
.user-report h2{
margin: 5px;
}
.user-report .row .col{
  min-width: 200px;
  transition: all .7s;
}
.user-report .row a{
  text-decoration: none;
}
.badges:hover , .coursesStarted:hover{
  background: rgb(211, 221, 226);
  transition: all .5s;
  cursor: pointer;
}
.borderL{
  border-left: 2px solid rgb(224, 243, 255);
}

.boxNemodar{
  width: 97%;
  height: 500px;
  background: rgb(235, 193, 193);
  margin: 20px;
  text-align: center;
  padding-top: 250px;
}

  /*                End Pages Userinfo           */
