@font-face {
    font-family: IRANSansWeb;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff/IRANSansWeb.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');


body{
    font-family: IRANSansWeb;
}
.card{
    display: inline-block;
    margin: 100px;
}
.card-img-top{
    width: 290px;
    height: 200px;
}
/*********************************************welcome-page***********************************************/
.CreateCourse-main-card{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}
.page-path{
    list-style: none;
    direction: rtl;
    margin-bottom: 0px;
}
.first-page,.breadcrumb-item::before{
    color: #f1f1f1 !important;
    font-size: 12px;

}
.page-path li{
    color: #f1f1f1 !important;
}

/*upload image*/
    .upload-course-pic{
        width: 7rem;
    }
  .avatar {
    width: 7.5em;
    height: 4em;
    background: #c1c1c1;
    margin-top: -60px;
    position: relative;
    opacity: 0.7;
    border:0.5px solid;
    border-radius: 5px;
    display: none;
  }
  .avatar input {
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide the button */
    cursor: pointer;
  }
  .avatar-icon {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    margin-top: 20px;
    opacity: 1;
    display:none;

  }
  #course-name{
      font-size: 1rem;
      font-weight: bold;
  }
  #course-description{
      visibility: visible;
    font-size: 0.8rem;
  }
  #Coure-name-input{
      margin-right: -40px;
      position: relative;
      margin-top: -30px;
      display: none;
  }
  #save-name{
    margin-top: -30px;
    display: none;
  }
  #del-input{
    margin-top: -30px;
    display: none;
  }
  #Coure-description-input{
    margin-right: -40px;
    position: relative;
    margin-top: -30px;
    display: none;
  }
  #save-description{
    margin-top: -30px;
    display: none;
  }
  #del-description{
    margin-top: -30px;
    display: none;
  }
  

  /*            Start Style Page Course                           */



  .btn-group{
    padding: 10px;
  }
.viewCourseCatalog{
  float: left;
}
.viewCourseCatalog a{
  display: inline-block;
  padding-right: 10px;
  line-height: 40px;
  margin: 20px 10px;

  /* text-decoration: none; */
}

table{
  width: 100%;
  height: 45px;
  line-height: 40px;
  color: #fff;
  float: inline-end;
}
table th{
  background: #007bff ;
  text-align: center;
  width: 190px;
}


th input[type=checkbox]{ 
  text-align: right;
opacity: 0;
/* vertical-align: text-top; */
}
input[type=checkbox]{
  margin: 5px 10px;
  /* display: none; */
  opacity: 0;
}


table tr td{
  text-align: center;
  color: black;
}

.noshow{
  display: none;
  opacity: 0;
  text-align: center;
  margin:0 10px;
  border-radius: 50px;
  /* background: #c1c1c1; */
  color: black;
} 
tr:hover .noshow, tr:hover input[type=checkbox] {
  display: inline-block;
  opacity: 1;

}
tr:hover .fa-ellipsis-h{
  display: none;
  /* text-align: center; */
}
.w-150px{
  width: 150px;
}
.w-140px{
  width: 140px;
}
.w-130px{
  width: 130px;
}
.w-120px{
  width: 120px;
}
.w-90px{
  width: 90px;
}
.w-25px{
  width: 25px;
}
.w-10px{
  width: 10px;
}
.w-1px{
  width: 1px;
}
tr:nth-child(odd){background: #e9e8e8;}

.formRight{
  width: 50%;
  height: auto;
  /* background: red; */
  float: right;
}
.formLeft{
  width: 50%;
  height: auto;
  /* background: blue; */
  float: left;
}

div#courses-grid_info{
  background: rgba(99,109,116,0.5);
    border-radius: 100px;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 2px rgba(0,0,0,0.25);
    color: #fff;
    width: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    min-width: 40px;
    padding: 4px 10px 3px;
    position: absolute;
    right: 0;
    margin: 10px 10px;
  }


  div#courses-grid_infoLeft input{
    width: 50%;
    float: left;
    border-radius: 4px;
    padding: 20px 10px;
    margin: 10px;
    direction: rtl;
  }
  div#courses-grid_infoLeft i{
    width: 50%;
    float: left;
    text-align: left;
  }
.ico{
  float: left;
  padding: 20px;
  /* margin: 5px; */
}
.ico > a{
text-decoration: none;
  margin: 5px;
  font-size: 16px;
}


  /*            End Style Page Course                           */
